/whispers.log
/.idea/*
__pycache__
.vscode
/lib/*
/reports/*
/temp/*
config.json
logs/*
data
docker-compose_private.yml
db_gitsearch_old_vk_tink.7z
Gitsearch_DB_private — копия.sql
stacks
Gitsearch_DB_private.sql
.env
