mariadb
about-time==4.2.1
aiohttp==3.9.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==2.1.1
click
colored==2.1.1
frozenlist>=1.4.1
gitdb==4.0.10
gitpython
grapheme==0.6.0
idna==3.4
keyboard==0.13.5
lizard
multidict==5.2.0
python-git==2018.2.1
requests==2.31.0
requests-toolbelt==1.0.0
Send2Trash==1.8.2
urllib3
yarl==1.9.2
beautifulsoup4~=4.12.2
pyyaml~=6.0
setuptools~=67.8.0
wheel~=0.38.4
pyopenssl~=23.3.0
six~=1.16.0
pynput~=1.7.6
pyqt5==5.15
pyqtwebengine==5.15
tomli==2.0.1
ioc_finder~=7.3.0
python-levenshtein==0.23.0
lxml==4.9.3
astroid==3.0.1
jellyfish==1.0.1
jproperties==2.1.1
lazy-object-proxy==1.9.0
luhn==0.2.0
soupsieve==2.5
typing-extensions>=4.9.0
wrapt==1.15.0
whispers==2.2.0
pywhat==5.1.0
deepsecrets==1.1.4
certifi
mariadb